ITEM/C:\Users\doria\scoop\apps\notepadplusplus\current\plugins\PythonScript\scripts\IndentParatest.py
SETTING/ADDEXTRALINETOOUTPUT/0
SETTING/COLORIZEOUTPUT/-1
SETTING/OPENCONSOLEONERROR/0
SETTING/PREFERINSTALLEDPYTHON/0
SETTING/STARTUP/LAZY
