---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Dorian
.page__content p,.page__content li,.page__content dl {
    font-size: 0.8em
}

code {
	font-size: 0.8em;
}

div.highlighter-rouge {
	line-height: 1;
}


// seems that the 1em default is not taking in account the bullet of list so needed to increase
.align-right {
	margin-left: 2em;
}

.align-left {
	margin-right: 2em;
}


// default is max-width: 100%. meaning that it is overwritting what I want in kramdown
img {
	max-width: auto;
}


// color dorian
a {
    color: #ffd670;
}

a:focus,button:focus {
    outline: thin dotted #ab955e;
    outline: 5px auto #ab955e;
}

html {
    background-color: #35302b;
}

.greedy-nav {
    background: #35302b;
}

.page__footer {
    background-color: #35302b;
}

.toc .nav__title {
    background: #ae6317;
}

.toc {
    background-color: #211a01;
}

article img {
   &.emoji {           /*add dorian */
      width: 20px;      /*add dorian */
      height: 20px;     /*add dorian */
    }                   /*add dorian */
    &.emojibig {        /*add dorian */
      width: 50px;      /*add dorian */
      height: 50px;     /*add dorian */
    }
}



