---
---




@import "minima";
@import "minima/syntax-highlighting";

/* Dorian */
/* Import scss style from _sass/ */
/* Import scss style from _sass/ */
/* Import scss style from _sass/ */
/* Import scss style from _sass/ */
@import "comments";



/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #ffffff;
	background-color: #424242;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	}

	/** Images */
	img {
		max-width: 100%;
		vertical-align: middle;
		border-radius: 5px;
		/* box-shadow: 4px 6px 16px -2px rgba(105,103,105,1); */
	}
	/** remove effect for img for leaflet */
	img.leaflet-tile { box-shadow: none; border-radius: 0; vertical-align: baseline; }
	img.leaflet-marker-shadow { box-shadow: none; border-radius: 0; vertical-align: baseline; }
	img.leaflet-marker-icon { box-shadow: none; border-radius: 0; vertical-align: baseline; }

	/** Link */

a { color: #F2AF29;
	text-decoration: none; }
a:visited { color: #F2AF29; }
a:hover { color: #BC4E09;}

/** Palette to change
Link #F2AF29
Link-over #BC4E09
Link-visited #F2AF29
Site-title #F2AF29
H1 #E77728
page-link #FFDDA1 */

/** Headings */
/** Dgrv modif */
h1 {color: #E77728;
	font-size: 50px;
	text-decoration: none; }


/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

.site-title { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; color: #F2AF29; }
.site-title, .site-title:visited { color: #F2AF29; }

.site-nav { float: right; line-height: 54px; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #FFDDA1; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** here color date in post */
.post-meta { font-size: 14px; color: #FFDDA1; }


/** Wrapper */
/** wdith body */
.wrapper { max-width: -webkit-calc(1200px - (30px * 2)); max-width: calc(1200px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }









/**
 * Syntax highlighting styles
 */

 code {
  border: 0px solid #e8e8e8;
 	background-color: #282828; // import for the background of the code, even with highlighting
	white-space: pre-wrap; // wrap the code
 }

pre {
  border: 0px solid #e8e8e8;
 }

.highlight {
  background: #282828;
	 color: #ebdbb2;
	 background-color: #282828;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
     background: #282828; color: #ebdbb2; background-color: #282828;
  }

  .hll { background-color: #ffffcc }
  .c { color: #928374; font-style: italic; background-color: #282828 } /* Comment */
  .err { color: #ebdbb2; background-color: #282828 } /* Error */
  .esc { color: #ebdbb2; background-color: #282828 } /* Escape */
  .g { color: #ebdbb2; background-color: #282828 } /* Generic */
  .k { color: #fe8019; background-color: #282828 } /* Keyword */
  .l { color: #ebdbb2; background-color: #282828 } /* Literal */
  .n { color: #ebdbb2; background-color: #282828 } /* Name */
  .o { color: #fe8019; background-color: #282828 } /* Operator */
  .x { color: #ebdbb2; background-color: #282828 } /* Other */
  .p { color: #ebdbb2; background-color: #282828 } /* Punctuation */
  .ch { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Hashbang */
  .cm { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Multiline */
  .cp { color: #8ec07c; background-color: #282828 } /* Comment.Preproc */
  .c1 { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Single */
  .cs { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Special */
  .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
  .ge { color: #83a598; text-decoration: underline; background-color: #282828 } /* Generic.Emph */
  .gr { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Error */
  .gh { color: #b8bb26; font-weight: bold; background-color: #282828 } /* Generic.Heading */
  .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
  .go { color: #504945; background-color: #282828 } /* Generic.Output */
  .gp { color: #ebdbb2; background-color: #282828 } /* Generic.Prompt */
  .gs { color: #ebdbb2; background-color: #282828 } /* Generic.Strong */
  .gu { color: #b8bb26; font-weight: bold; background-color: #282828 } /* Generic.Subheading */
  .gt { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Traceback */
  .kc { color: #fe8019; background-color: #282828 } /* Keyword.Constant */
  .kd { color: #fe8019; background-color: #282828 } /* Keyword.Declaration */
  .kn { color: #fe8019; background-color: #282828 } /* Keyword.Namespace */
  .kp { color: #fe8019; background-color: #282828 } /* Keyword.Pseudo */
  .kr { color: #fe8019; background-color: #282828 } /* Keyword.Reserved */
  .kt { color: #fabd2f; background-color: #282828 } /* Keyword.Type */
  .ld { color: #ebdbb2; background-color: #282828 } /* Literal.Date */
  .m { color: #d3869b; background-color: #282828 } /* Literal.Number */
  .s { color: #b8bb26; background-color: #282828 } /* Literal.String */
  .na { color: #b8bb26; font-weight: bold; background-color: #282828 } /* Name.Attribute */
  .nb { color: #fabd2f; background-color: #282828 } /* Name.Builtin */
  .nc { color: #ebdbb2; background-color: #282828 } /* Name.Class */
  .no { color: #d3869b; background-color: #282828 } /* Name.Constant */
  .nd { color: #ebdbb2; background-color: #282828 } /* Name.Decorator */
  .ni { color: #fabd2f; background-color: #282828 } /* Name.Entity */
  .ne { color: #fb4934; background-color: #282828 } /* Name.Exception */
  .nf { color: #fabd2f; background-color: #282828 } /* Name.Function */
  .nl { color: #fb4934; background-color: #282828 } /* Name.Label */
  .nn { color: #ebdbb2; background-color: #282828 } /* Name.Namespace */
  .nx { color: #ebdbb2; background-color: #282828 } /* Name.Other */
  .py { color: #ebdbb2; background-color: #282828 } /* Name.Property */
  .nt { color: #fb4934; background-color: #282828 } /* Name.Tag */
  .nv { color: #ebdbb2; background-color: #282828 } /* Name.Variable */
  .ow { color: #fe8019; background-color: #282828 } /* Operator.Word */
  .w { color: #ebdbb2; background-color: #282828 } /* Text.Whitespace */
  .mb { color: #d3869b; background-color: #282828 } /* Literal.Number.Bin */
  .mf { color: #d3869b; background-color: #282828 } /* Literal.Number.Float */
  .mh { color: #d3869b; background-color: #282828 } /* Literal.Number.Hex */
  .mi { color: #d3869b; background-color: #282828 } /* Literal.Number.Integer */
  .mo { color: #d3869b; background-color: #282828 } /* Literal.Number.Oct */
  .sb { color: #b8bb26; background-color: #282828 } /* Literal.String.Backtick */
  .sc { color: #b8bb26; background-color: #282828 } /* Literal.String.Char */
  .sd { color: #b8bb26; background-color: #282828 } /* Literal.String.Doc */
  .s2 { color: #b8bb26; background-color: #282828 } /* Literal.String.Double */
  .se { color: #b8bb26; background-color: #282828 } /* Literal.String.Escape */
  .sh { color: #b8bb26; background-color: #282828 } /* Literal.String.Heredoc */
  .si { color: #b8bb26; background-color: #282828 } /* Literal.String.Interpol */
  .sx { color: #b8bb26; background-color: #282828 } /* Literal.String.Other */
  .sr { color: #b8bb26; background-color: #282828 } /* Literal.String.Regex */
  .s1 { color: #b8bb26; background-color: #282828 } /* Literal.String.Single */
  .ss { color: #83a598; background-color: #282828 } /* Literal.String.Symbol */
  .bp { color: #fabd2f; background-color: #282828 } /* Name.Builtin.Pseudo */
  .vc { color: #ebdbb2; background-color: #282828 } /* Name.Variable.Class */
  .vg { color: #ebdbb2; background-color: #282828 } /* Name.Variable.Global */
  .vi { color: #ebdbb2; background-color: #282828 } /* Name.Variable.Instance */
  .il { color: #d3869b; background-color: #282828 } /* Literal.Number.Integer.Long */
}



