---
layout: default
---

<section class="intro">
	<div class="wrap">
		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>
	</div>
</section>

<section class="single">
	<div class="wrap">
		<br>
		<center><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#ff00ee', 'Z8Z2HFE1J');kofiwidget2.draw();</script></center>
		<br>
		{{ page.content }}
		<br>
		<center><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#ff00ee', 'Z8Z2HFE1J');kofiwidget2.draw();</script></center>
		<br>
		<br>
		 <!-- To add the comments. Found on https://aristath.github.io/blog/static-site-comments-using-github-issues-api 
			and https://github.com/aristath/aristath.github.com/blob/f1b80c1202ed9edd3d5b8b9ba7cf15f347d4bfc6/_layouts/post.html#L22-L24
			Need a comments.html in the _includes folder, an issue, take care of the id and a tag in the post (comment_id)-->
		{% if page.comments_id %}
			{% include comments.html %}
		{% endif %}
	</div>
</section>